$color-bg-dark: #333;

$color-white: #f9f8fa;

$color-900-neutral: #130923;
$color-700-neutral: #787e80;
$color-500-neutral: #aba9ad;

$color-900-red: #970202;
$color-700-red: #e90606;

$color-700-blue: #00a9ff;
