@use '@/styles/variables.scss' as *;
@use '@/styles/colors.scss' as *;

.searchBox {
  display: flex;
  max-width: 60%;
  width: 100%;
  padding: $spacing-m;
  border: 1px solid $color-500-neutral;
  border-radius: $border-radius;

  input {
    border: none;
    flex: 1;
    font-size: 1.5rem;

    @media (width <= 460px) {
      width: 100%;
    }
  }

  button {
    padding: $spacing-xs;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;

      img {
        filter: invert(92%) sepia(7%) saturate(39%) hue-rotate(227deg) brightness(87%) contrast(87%);
      }
    }
  }

  @media (width <= 760px) {
    max-width: 80%;
  }

  @media (width <= 460px) {
    max-width: 60%;
  }
}
