$color-900-neutral: #130923;
$color-700-neutral: #787e80;
$color-500-neutral: #aba9ad;
$color-white: #f9f8fa;
$color-700-red: #e90606;

$spacing-xs: 0.25rem;
$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 1.5rem;
$spacing-xl: 2.5rem;
$border-radius: 0.5rem;
$max-width-main: 1440px;

$transition: ease-in-out 0.3s;
