.spinner {
  width: 8rem;
  height: 8rem;
  border: 10px solid var(--background);
  border-radius: 50%;
  border-top-color: var(--secondary);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    rotate: 360deg;
  }
}
