@use '@/styles/variables.scss' as *;
@use '@/styles/colors.scss' as *;

.article {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-700-red;
  border-radius: $border-radius;
  height: 50dvh;

  img {
    height: 14rem;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-s;
    padding: $spacing-s;
    height: -webkit-fill-available;
  }

  &__desription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  &__author {
    align-self: flex-end;
    font-style: italic;
    color: $color-700-neutral;
  }

  &__readMore {
    display: block;
    text-align: center;
    background-color: $color-700-red;
    color: $color-white;
    font-size: larger;
    font-weight: 700;
    padding: $spacing-xs;
    transition: $transition;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    &:hover {
      background-color: $color-900-red;
    }
  }
}

@media (width <= 1080px) {
  .article {
    height: 45dvh;

    .articleTitle,
    .articleDescr {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

@media (width <= 625px) {
  .article {
    height: unset;

    .articleTitle,
    .articleDescr {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }
  }
}
