@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.newsList {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-l;

  @include from-tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include from-desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}
