@use './styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-m;
  max-width: $max-width-main;
  width: 100%;
  padding: $spacing-m;

  @include from-tablet {
    padding: $spacing-xl;
  }

  h2 {
    margin-bottom: $spacing-m;
  }
}
