@use '@/styles/variables.scss' as *;

.pagination {
  border: 1px solid red;
  display: flex;
  align-items: center;
  gap: $spacing-l;

  &__item {
    button {
      padding: 1rem;
      border: 1px solid green;
      cursor: pointer;
    }

    &--active {
      background-color: blue;
    }
  }
}
