@use '@/styles/variables.scss' as *;
@use '@/styles/mixins.scss' as *;

.pagination {
  border: 1px solid var(--primary-dark);
  border-radius: $border-radius;
  display: flex;
  align-items: center;

  &__item {
    text-align: center;

    button {
      padding: $spacing-s;
      cursor: pointer;
      transition: $transition;

      &:hover {
        background-color: var(--primary-dark);
      }

      @include from-tablet {
        padding: $spacing-m;
      }
    }

    span {
      padding: $spacing-s;

      @include from-tablet {
        padding: $spacing-m;
      }
    }

    &--active {
      border: 1px solid var(--primary);
      font-weight: 700;
    }
  }
}
