@use '@/styles/variables.scss' as var;

.newsList {
  border: 1px solid aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var.$spacing-l;
}

@media (width <= 880px) {
  .newsList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width <= 625px) {
  .newsList {
    grid-template-columns: 1fr;
  }
}
