@use '@/styles/variables.scss' as *;

.switch {
  $_icon: var(--icon, url(/theme-light.svg));
  position: absolute;
  top: 2rem;
  right: $spacing-xl;
  width: 2rem;
  height: 2rem;
  background: $_icon no-repeat center center / cover;
  transition: $transition;

  &--dark {
    --icon: url(/theme-dark.svg);
  }

  &:hover {
    cursor: pointer;
  }
}
